@font-face {
	font-family: 'Fedra Sans';
	src: url(../assets/fonts/Fedra-Sans-Alt/FedraSansAltStd-Book.ttf);
}

@font-face {
	font-family: 'Fedra Sans Bold';
	font-weight: bold;
	src: url(../assets/fonts/Fedra-Sans-Alt/FedraSansAltStd-Medium.ttf);
}

@font-face {
	font-family: 'Fedra Sans Italic';
	font-weight: 100;
	src: url(../assets/fonts/Fedra-Sans-Alt/FedraSansAltStd-BookItalic.ttf);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--archiefBlauw: rgb(1, 104, 155);
	--archiefOranje: rgb(225, 112, 0);
}

ul,
ol {
	list-style: none;
}

strong {
	font-family: 'Fedra Sans Bold';
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Fedra Sans';
}

/* ------------------ 
global container
------------------ */
div.year-filter-container {
	height: fit-content;
	width: 32em;
	padding: 1em;
}

/* ------------------ 
titel met percentage
------------------ */
section.visualisation-container > div:first-of-type {
	display: flex;
	gap: 0.3em;
	align-items: flex-end;
	height: 2.5em;
	overflow: hidden;
}

section.visualisation-container > div:first-of-type > p,
section.visualisation-container > div:first-of-type > span {
	color: var(--archiefBlauw);
}

section.visualisation-container > div:first-of-type > p {
	display: inline-block;
}

section.visualisation-container > div:first-of-type span.percentage-text {
	font-size: 2em;
	height: 100%;
	display: inline-block;
}

section.visualisation-container > p {
	display: flex;
	align-items: flex-end;
	height: 2.5em;
}

section.visualisation-container > p::after {
	overflow: hidden;
	animation: ellipsis steps(4, end) 1s infinite;
	content: '\2026';
	width: 0;
}

@keyframes ellipsis {
	to {
		width: 1.1em;
	}
}

/* loading tekst en percentage tekst wisseles display none wanneer data is geladen */
section.visualisation-container.data-loaded > p,
section.visualisation-container:not(.data-loaded) > div:first-of-type {
	display: none;
}

/* ------------------ 
visualisatie balken
------------------ */
div.bar-container {
	position: relative;
	width: 100%;
	height: 4em;
	color: white;
}

div.bar-container div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.2em;
	overflow: hidden;
}

/* label binnen 'online' en 'offline' balken/divs */
div.bar-container div span {
	display: none;
}

div.bar-container div.textlabel span {
	display: initial;
}

div.bar-container div.iconlabel span:first-of-type {
	display: initial;
}

div.bar-container div.online-progress-bar {
	position: absolute;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--archiefBlauw);
	transition: width 2s ease-in-out;
}

div.bar-container div.offline-progress-bar {
	background: rgba(1, 104, 155, 0.4);
	right: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: width 2s ease-in-out;
}

div.bar-container div span.icon {
	height: 12px;
	width: 14px;
	background-size: cover;
	background-repeat: no-repeat;
}

/* ------------------ 
year filter form
------------------ */
.year-filter-form {
	width: 30em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

.year-filter-form div {
	width: 100%;
	display: flex;
	gap: 0.2em;
	height: 2em;
}

.year-filter-form div input {
	width: 35%;
	border: 2px solid var(--archiefBlauw);
	border-radius: 0.2em;
	padding: 0.5em;
	transition: all 0.2s ease-in-out;
}

.year-filter-form div input:focus-visible {
	transform: scale(1.02);
}

.year-filter-form div button {
	padding: 0 1em;
	width: fit-content;
	border: 2px solid var(--archiefBlauw);
	border-radius: 0.2em;
	background-color: var(--archiefBlauw);
	color: white;
	font-family: 'Fedra Sans Bold';
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.year-filter-form div button:hover {
	text-decoration: underline;
	transform: scale(1.04);
}

.year-filter-form div button:focus-visible {
	outline: 2px solid var(--archiefOranje);
}

.year-filter-form p.undated-counter {
	margin-top: 0.5em;
	font-family: 'Fedra Sans Italic';
}

.clearyearfilter:not(.active) {
	display: none;
}



/* ------------------ 
link section
------------------ */
div.linksection {
	display: flex;
	flex-direction: column;
	height: 10em;
	overflow: auto;
}

div.linksection a {
	text-decoration: none;
	color: var(--archiefBlauw);
}

div.linksection a:hover,
div.linksection a:focus-visible {
	text-decoration: underline;
}

div.linksection a.current {
	color: #000;
	text-decoration: underline;
}



/* ------------------ 
error state
------------------ */
section.visualisation-container.data-error {
	display: none;
}

section.visualisation-container:not(.data-error) + section.error {
	display: none;
}

/* background images */
.clearyearfilter,
div.bar-container div.online-progress-bar span.icon,
div.bar-container div.offline-progress-bar span.icon {
	background-position: center;
	background-repeat: no-repeat;
}

.clearyearfilter {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath fill='%23fff' d='M18.816 5.43C16.418.44 10.148-1.371 5.262 1.176a.816.816 0 0 0 .766 1.441c4.081-2.12 9.288-.605 11.3 3.528 2.672 5.484-.773 9.668-3.57 11.214-3.801 2.114-8.625.711-10.93-2.886l2.832.59c.426.085.89-.168.977-.637.086-.422-.172-.89-.637-.977L.984 12.43c-.843-.081-1.023.68-.976.934l.637 5.059a.79.79 0 0 0 .808.723c.524 0 .848-.512.809-.977l-.246-2.063c2.343 2.891 6.957 5.36 12.554 2.786 2.375-1.223 7.825-6.032 4.246-13.461Zm0 0'/%3E%3C/svg%3E");
}
div.bar-container div.online-progress-bar span.icon {
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20576%20512%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22576%22%20height%3D%22512%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20stroke%3D%22transparent%22%20stroke-width%3D%220%22%20style%3D%22%22%20d%3D%22M528 0H48C21.5 0 0 21.5 0 48v320c0 26.5 21.5 48 48 48h192l-16 48h-72c-13.3 0-24 10.7-24 24s10.7 24 24 24h272c13.3 0 24-10.7 24-24s-10.7-24-24-24h-72l-16-48h192c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zm-16 352H64V64h448v288z%22%20%2F%3E%3C%2Fsvg%3E');
}

div.bar-container div.offline-progress-bar span.icon {
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2039%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2239%22%20height%3D%2232%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20stroke%3D%22transparent%22%20stroke-width%3D%220%22%20style%3D%22%22%20d%3D%22M23.882 12.097v3.377c0 .873-.714 1.587-1.587 1.587h-6.549a1.591 1.591 0 0 1-1.586-1.587v-3.377H1.635v19.042h34.353V12.097H23.882zm14.457-10.51C38.34.713 37.69 0 36.893 0H1.446C.651 0 0 .714 0 1.586v7.6h38.34v-7.6z%22%20%2F%3E%3C%2Fsvg%3E');
}

/* prefers reduces motion media query */
@media (prefers-reduced-motion: reduce) {
	div.bar-container div {
		transition: none !important;
	}
}
