*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

button {
	background: transparent;
	border: none;
}

a {
	text-decoration: none;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.bar-container {
	position: relative;
	width: 30em;
	height: 4em;
	background: lightslategray;
}

div.bar-container div.bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: blue;
	transition: width 2s ease-in-out;
}