*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

button {
	background: transparent;
	border: white solid 2px;
	color: white;
	border-radius: 5px;
	box-sizing: content-box;
	padding: 0.5em 1em;
}

a {
	text-decoration: none;
	color: lightgreen;
}

a:hover,
a:focus-visible {
	text-decoration: underline;
}

a.current {
	color: white;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3em;
	background: #212121;
	color: white;
}

main.visualisation-container.data-error {
	display: none;
}

div.bar-container {
	position: relative;
	width: 30em;
	height: 4em;
	background: lightslategray;
}

div.bar-container div.bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: blue;
	transition: width 2s ease-in-out;
}

main.visualisation-container:not(.data-error) + div.error {
	display: none;
}

.linksection {
	display: flex;
	flex-direction: column;
	height: 10em;
	overflow: auto;
}
